PG_HOST=localhost
PG_PORT=54333
PG_DB=yaci_store
PG_USER=yaci
PG_PASSWORD=dbpass
PG_SCHEMA=yaci_store
S3_BUCKET=cf-yaci-store-dataset
AWS_CREDENTIALS_PATH=~/.aws/credentials
BASE_DATA_PATH=/path/to/analytics-store
SQLITE_PATH=./uploads.db
AWS_PROFILE=dune-test
